---
import HomePage from '../components/mainComponent.jsx'; 
---
<!-- Had an issue with the maincomponet. It kept saying it is not a module. This issue was resolved when we realised we had to save the MainComponent.jsx file -->
<html>
  <head>
    <title>Met Museum Home</title>
  </head>
  <body>
    <HomePage client:load />
  </body>
</html>
